name = "splitogram"
main = "backend/src/index.ts"
compatibility_date = "2024-09-01"
compatibility_flags = ["nodejs_compat"]

[observability.logs]
enabled = true
head_sampling_rate = 0.1

# KV Namespaces — create in CF dashboard and replace ID
[[kv_namespaces]]
binding = "SESSIONS"
id = "757ac20a8bde4f5089a02d08f31f6be7"

# D1 Database — create in CF dashboard and replace ID
[[d1_databases]]
binding = "DB"
database_name = "splitogram-db"
database_id = "e422c466-4d70-422a-b451-a8dc0116cc89"
migrations_dir = "backend/drizzle/migrations"

# Non-secret environment variables
[vars]
ENVIRONMENT = "production"
# PAGES_URL = "https://splitogram.pages.dev"
# USDT_MASTER_ADDRESS = "kQBqSpvo4S87mX9tjHaG4zhYZeORhVhMapBJpnMZ64jV_JBr"  # testnet USDT

pages_build_output_dir = "frontend/dist"
